body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
}

h1 {
  text-align: start;
  margin-bottom: 1rem;
}

.statistics {
  margin-top: 1rem;
}

button {
  margin-bottom: 0.5rem;
  width: 450px;
  height: 40px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.modal-content {
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.stats-button {
  margin-bottom: 1rem;
}

.buttons-container {
  display: flexbox;
  gap: 0.5rem;
}
